body {
    background-color: #FFFFFF;
    color: #757575;
}
 /* header */
.logo {
    color: #2196F3;
}

/* site nav */
.list {
    list-style: none;
}

.site-nav .link {
    color: #212121;
}

 /*#757575# телефон  и почта в шапке    #2196f3 телефон  и почта в ховере
/#757575# цвет профессии в нашей команде, цвет текста в особенностях р 
/* #212121секция особенности и чем мы занимаемся , наша команда и имена цвет заголовка 
/*212121 шапка студия потрфолио и контакты   #2196f3  в ховере
/* #FFFFFF в первой секции ефективные решения и кнопка тоже
/* адрес в подвале #FFFFFF
/* вебстудио  в шапке и в подвале 2196f3 и 000000
/* телефон и ссылыка в подвале с прозрачностью


+/* Основной цвет #757575
/* вторичный цвет #212121
/* акцент кнопка background: #2196F3;
/ белый цвет #FFFFFF
