/* Основные стили */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:  #2196F3;
    --primary-white-color: #FFFFFF;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

 /* Логотип */
.logo {
    color: var(--accent-color);
}

/* Меню навигации */
.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}
.contacts-nav .link {
    color: var(--primary-text-color);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: var(--accent-color);
}

/* Герой */
.hero-title {
    color: var(--primary-white-color);
}

.button {
    color: var(--title-text-color);
    background-color: #F5F4FA;
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Секция */
.section-title,
.section-subtitle {
    color: var(--title-text-color);
}


/* адрес в подвале #FFFFFF
/* вебстудио  в шапке и в подвале 2196f3 и 000000
/* телефон и ссылыка в подвале с прозрачностью


